asgiref
cement
certifi
chardet
Django
django-admin-honeypot
django-admin-thumbnails
django-session-timeout
django-storages
et-xmlfile
future
idna
numpy
openpyxl
pandas
Pillow
pypiwin32
python-dateutil
python-decouple
pytz
pywin32
PyYAML
requests
semantic-version
six
sorl-thumbnail
sqlparse
termcolor
tzdata
urllib3
wcwidth
